asn1crypto==0.24.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
enum34==1.1.6
idna==2.7
ipaddress==1.0.22
lightfm==1.15
numpy==1.15.0
oauthlib==2.1.0
pycparser==2.18
pyOpenSSL==18.0.0
python-dateutil==2.7.3
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
scipy==1.1.0
six==1.11.0
urllib3==1.24.2
yapf==0.22.0
